h1{
  font-size: 80px;
  text-align: center;
  color:rgb(159, 52, 52);
}
.topnav {
  background-color: #221a68;
  overflow: hidden;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: blue;
}


  .column{
    margin-top:5%;
    width :33.33%;
    float:left;
    padding: 5px;
    
}
.row::after{
    content: "";
    clear :both;
    display:table;
    
}
.banner-link .b1{
    margin-top: auto;
  
  }
  p{
    text-align: center;
    font-size: 50px;
    color:rgb(159, 52, 52);
  }
  .banner-link button{
       
    height: 60px;
    width: 125px;
    margin-top: 10%;
    background-color:rgb(25, 25, 101);
   
   border-block-end-style: 5px solid  20px;
     display:inline-block;
     border-radius: 0cm;
      border: 4px solid white;
      padding: 5px 5px;
      font-size: 15px;
      font-weight: 600;
      color:white;
        cursor: pointer;
        box-shadow: white;
  } 
  .banner-link button:hover{
    color: white;
  box-shadow: 0 0 50px 0 rgb(182, 182, 250);
  }
  img{   
    height: 200px;
    width: 200px;
}
*{
    box-sizing:border-box;

}
.col3{
    margin-right :80px;
    margin-left: 120px;
   }
  footer{
    display: flex;
  }
  footer h5{
        color:white;
        font-size: 18px;
  }
  .col3 li{
        color: white;
        margin-bottom: 20px;
  }
  .col3 p{
        margin-top: 40%;
        color: white;
        font-size: 20px;
      }
  .col3 img{
        width: 100px;
        height:100px;
      }
  .footer{
        width: 100%;
        height: 40%;
        background-color:rgb(5, 5, 70);
      }
  footer a{
      color: white;
    
      margin-bottom: 20px;
    }
    .row2 {
      color: white;
      margin-top: 20px;
      margin-left: 50px;
     
    }
    .row2 h5{
      margin-top: 5%;
      color:white;
      font-size: 18px;
      margin-bottom: 20px;
      
    }
    .row2 img{
      height: 50px;
      width: 50px;
      padding:10px;
      margin-top: 50px;
    }
    .row2 p{
      font-size: 10px;
      color: white;
  }
